.movieWrapper {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.posterWrapper {
	width: 100%;
	flex: 0 0 19%;
}

.detailsWrapper {
	flex: 0 0 78%;
	align-items: stretch;
	min-height: 100%;
	padding: 5px 20px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.detailsWrapper h1 {
	margin-top: 0;
}
